
/* Specific styling for courses page*/

.horizontal-section-container{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.horizontal-section{
    background-color: var(--colour-5);
    display: flex;
    justify-content: center;
    width: 32%;
    box-shadow: 10px 10px 10px var(--colour-6);
    border-radius: var(--border-rounding-gen);
}
table, th, td{
    border: 0px solid; 
    border-color: var(--colour-6);
    border-collapse: collapse;
}
table{
    border: 2px solid;
}
th{
    border-bottom: 2px solid;
    }

.text-grey{
    color: var(--colour-6);
}
.text-focus{
    color: rgb(0 0 256);
    text-decoration: underline;
}
#btn{
    display: flex;
    flex-grow: 1;
    align-items: stretch;
    height: 100%;

    color: var(--colour-4);
    background-color: var(--colour-6);
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: var(--border-rounding-gen);
    font-size: large;
}
.btnL{
    margin-left:10px;
}
.btnR{
    margin-right:10px;
}
.shift-left:hover,
.shift-left:focus {
  box-shadow: 0.5em 0 0.5em -0.4em var(--colour-6);
  transform: translateX(-0.2em);
}
.shift-right:hover,
.shift-right:focus {
  box-shadow: -0.5em 0 0.5em -0.4em var(--colour-6);
  transform: translateX(0.2em);
}

.full-width{
    display:flex;
    flex-grow:1;
}

.calendar-table{
    background-color: transparent;
    border-collapse: collapse;
    width: 100%;
    text-align:center;
}

.day-button{
    background-color: var(--white);
    cursor: pointer;
}

.day-button:hover{
    background-color:var(--silver);
    transition:0ms;
}

.unclickable{
    cursor:not-allowed;
}

.calendar-heading{
    background-color: var(--colour-3);
}