
/* Specific styling for profile page*/

.horizontal-section-container{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}
.horizontal-section{
    display: flex;
    justify-content: center;
    
    background-color: var(--colour-5);
    width: 32%;
    box-shadow: 10px 10px 10px var(--colour-6);
    border-radius: var(--border-rounding-gen);
}
.horizontal-section-no-format{
    display: flex;
    justify-content: center;
}
.button{
    font-size: large;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    border-color: var(--colour-4);
    border-width: 2px;
    background-color: var(--colour-1);
    border-radius: var(--border-rounding-gen);
        
    height: 40px;
    width:100px;

    margin-bottom: 10px
}
.raise {
    --hover: var(--colour-6);
  }
.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.5em);
}
.side-padded{
    padding-left:10px;
    padding-right:10px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #d80606;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
/*
.log-out:hover{
 background-color: lightblue;
}
.delete-account:hover{
  background-color: lightblue;
}
*/