
/* Specific styling for shop page*/

a{
  text-decoration: none;
}

.horizontal-section-container{
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    flex-direction: row;
    
}

.horizontal-section{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    background-color: var(--colour-5);
    width:32%;
    margin: var(--margin-gen);
    box-shadow: 10px 10px 10px var(--colour-6);
    border-radius: var(--border-rounding-gen);
}

.item{
    text-decoration: none;
    color: black;
    display: flex;
    padding: 10px 10px 10px 10px;
    justify-content: center;
    background-color: var(--colour-7);
    border-radius: var(--border-rounding-gen);
    /*box-shadow: 10px 10px 10px var(--colour-6);*/
    /*width:280px;*/
    /*width:32%;*/
    margin: var(--margin-gen);
}

.item-wrap{
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(5, 1fr);
    display: grid;

    margin: 10px 10px 10px 10px;
}

.itemTitle{
    font-size: xx-large;
    text-decoration: bold;
}

.item:hover{
  background-color: var(--colour-8);
}

.raise {
    --hover: var(--colour-6);
}
.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.5em);
}
.side-padded{
    padding-left:10px;
    padding-right:10px;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup, .filter-popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    position:relative;
    transition: all 5s ease-in-out;
    max-height: 100%;
    overflow: auto;
  }
  .filter-popup{
    width: 25%;
    height: 25%;
  }
  .popup{

    width: 50%;
    height: 70%;
  }
  
  .popup h2, .filter-popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close, .filter-popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover, .filter-popup .close:hover{
    color: #d80606;
  }
  
  .content {
    max-height: 90%;
    overflow-y: scroll;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }


.item-main-text,
.item-detail-text{
  font-family: monospace;
  font-size: 20px;
}

.product-image{
  width:100%;
  height:100%;
}

.item-title{
  font-size:30px;
}

.popup-image{
  height:60%;
  width:60%;
}

.basket-image{
  height:60%;
}

.image{
  display: flex;
  justify-content: center;
}

.buy-now{
  background-color: rgb(181, 221, 120);
  border-radius: var(--border-rounding-gen);
  width:100%;
  height:200%;
}

.buy-now:hover{
  background-color: rgb(199, 248, 120);;
}

.add-to-basket{
  background-color: rgb(125, 218, 218);
  border-radius: var(--border-rounding-gen);
  width:100%;
  height:200%;
}

.add-to-basket:hover{
  background-color: rgb(125, 247, 247);
}

.button-row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.basket{

  align-items:center;
}

.padded-button{
  padding: 10px 10px 10px 10px;
  /* border: ; */
}

.checkout-button{

  background-color:var(--colour-3);
  border-radius: var(--border-rounding-gen);

}

.empty-basket-button{

  background-color:rgb(233, 78, 78);
  border-radius: var(--border-rounding-gen);

}

.success-message, .error-message{
  padding: 10px 10px 10px 10px;
  
  border-style: solid;
  border-width: 3px;
  border-radius: var(--border-rounding-gen);
}

.success-message{
background-color: rgb(199, 248, 120);
border-color: rgb(105, 131, 64);
}

.error-message{ 
  background-color: rgb(248, 120, 120);
  border-color: rgb(131, 64, 64);
}

.itemDescription {
  margin-top: auto;
}

.add-item-icon{
  width: 40px;
  height: 40px;
  padding: 5px 5px 5px 5px;
}

.add-item-text{
  font-family: monospace;
}

.add-item-row{
  display: flex;
  align-items: center;
}

.validation-div{
  
  font-family: monospace;
  text-decoration:solid;
  color: rgba(224, 27, 27, 1);
}

.input{
  padding: 5px 5px 5px 5px;
  }

.search-bar,
.sort-drop{
border-radius: var(--border-rounding-gen);
border-width: 3px;
border-color: black;
width:60%;
height:30px;

font-size: 20px;
font-family: monospace;
}
.submit-search, .submit-sort, .submit-filter{
  height:30px;
  border-radius: var(--border-rounding-gen);
  background-color: var(--colour-6);

  font-size: 20px;
  font-family: monospace;
}
.submit-search:hover, .submit-sort:hover, .submit-filter:hover{
  height:30px;
  border-radius: var(--border-rounding-gen);
  background-color: var(--onyx);

  font-size: 20px;
  font-family: monospace;
}
.filter-input {
  border-radius: var(--border-rounding-gen);
  font-size: 18px;
  font-family: monospace;
}

.filter-button{
  height:30px;
  border-radius: var(--border-rounding-gen);

  width:80%;
  margin: 5px 5px 5px 5px;

  font-size: 20px;
  font-family: monospace;
}
.filter-button{
  border-radius: var(--border-rounding-gen);

  font-family: monospace;
  font-size: 20px;  
}
.filter-button:hover{
  background-color: var(--colour-6);
}
.filter-selected{
  background-color: rgb(199, 248, 120);
}
.filter-selected:hover{
  background-color: rgb(105, 131, 64);
}
.remove-filter{
  height:30px;
  border-radius: var(--border-rounding-gen);
  background-color: rgb(248, 120, 120);
  border-color: rgb(131, 64, 64);

  font-size: 20px;
  font-family: monospace;
}
.remove-filter:hover{
  background-color: rgb(255, 37, 37);
}
